head
  link(rel="stylesheet", href="/css/mail.css", data-inline)
  link(rel="stylesheet", href="/css/report.css", data-inline)
body.body
  header
  .wrapper
    .entry-cells
      p.entry-cells-notice 本日のシェア数レポートをお届けします。
        br
        | ( ) 内の数字は昨日の同時刻からのアップデート分です。
      each item in items
        - const show = item.counts.some(count => count.updatedCount > 0)
        if show
          table.entry-cell
            tr
              td.entry-cell-favicon-wrapper
                a.entry-cell-link(href=`${item.url}`)
                  img.entry-cell-favicon(src=`https://www.google.com/s2/favicons?domain=${blogURL}`)
              td
                a.entry-cell-link(href=`${item.url}`)
                  h3.entry-cell-content-title #{item.title}
              tr.entry-cell-content
                td
                td
                  .entry-cell-content-buttons
                    each count in item.counts
                      .entry-cell-content-buttons-button-wrapper
                        - const iconType = count.type !== 'countjsoon' ? count.type : 'twitter'
                        if count.link
                          a.entry-cell-link.entry-cell-content-buttons-button-link(href=`${count.link}`)
                            table.entry-cell-content-buttons-button-wrapper-button                                
                              tr
                                td.entry-cell-content-buttons-button-wrapper-button-icon-wrapper
                                    img.entry-cell-content-buttons-button-wrapper-button-icon(src=`https://feedback-5e26f.firebaseapp.com/images/${iconType}-icon.png`)
                                td.entry-cell-content-buttons-button-wrapper-button-count
                                    | #{count.count}
                                    if count.updatedCount > 0
                                      span.entry-cell-content-buttons-button-wrapper-button-count-text (
                                          span.entry-cell-content-buttons-button-wrapper-button-count-update +#{count.updatedCount}
                                          | )
                        else
                          table.entry-cell-content-buttons-button-wrapper-button
                            tr
                              td.entry-cell-content-buttons-button-wrapper-button-icon-wrapper
                                  img.entry-cell-content-buttons-button-wrapper-button-icon(src=`https://feedback-5e26f.firebaseapp.com/images/${iconType}-icon.png`)
                              td.entry-cell-content-buttons-button-wrapper-button-count
                                  | #{count.count}
                                  if count.updatedCount > 0
                                    span.entry-cell-content-buttons-button-wrapper-button-count-text (
                                        span.entry-cell-content-buttons-button-wrapper-button-count-update +#{count.updatedCount}
                                        | )

    .buttons
      - const blogId = encodeURIComponent(blogURL)
      a.primary-button(href=`https://blog-feedback.app/blogs/${blogId}`)
        span BlogFeedbackで開く

    .entry-cells-notice このメール機能はα版です。現在多くのユーザー様にご利用頂けるよう調整をしていますが、今後予告なく配信を取りやめる場合があります。
    .content
      hr.line
      ul.signature
        li BlogFeedback運営 
          a(href="https://twitter.com/ninjinkun") @ninjinkun
        li 改善等のご要望は、上記の Twittter アカウントまたは 
          a(href="https://github.com/ninjinkun/blog-feedback-app") GitHub
          |  の Issues までお寄せください。
        li このメールの停止はBlogFeedbackの
          a(href="https://blog-feedback.app/settings") 設定
          | より行うことができます